<html>
<head>
    <title>Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/style.css"/>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"   integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="   crossorigin="anonymous"></script>
</head>
<body>

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="http://servicio.io">
                <img alt="Brand" src="http://servicio.io/wp-content/uploads/2016/05/servicio-logo-hellblau-auto-ohne-hintergrund-1.png" style="height: 25px; width: auto; margin-top: 0px">
            </a>
        </div>
    </div>
</nav>
<div id="charge-error" class="alert alert-danger <% if ( !errMsg ) { %> hidden <% } %>">
    <%= errMsg  %>
</div>
<div class="row">
    <div class="col-md-4" style="background-color: #f3efe4; padding-top: 20px; "><h3><center>Angemeldete Gäste</center></h3>
        <div class="row" style="padding-top: 20px">
            <div class="col-md-6" style="float: left">
            <% for (var i = 0; i < guests.length; i++) { %>
                <% if (guests[i].signed_up === true) { %>
                <img src="<%= guests[i].profile_pic %>" style=" width: 60px; height: 60px; position: relative; border-radius: 50%; margin: 5px; margin-left: 70%">
                <br>
                <%  } %>
                <%  } %>
            </div>
            <div class="col-md-6" style="float: right">
                <% for (var l = 0; l < guests.length; l++) { %>
                    <% if (guests[l].signed_up === true) { %>
                        <%= guests[l].senderId + " " + guests[l].first_name + " " + " " + guests[l].last_name + " " + guests[l].locale + " " + guests[l].gender + " " + guests[l].signed_up_at%>
                        <br>
                        <br>
                        <br>
                    <%  } %>
                <%  } %>
            </div>
        </div>
    </div>

    <div class="col-md-4" style="background-color: #0a7a74; padding-top: 20px"><h3 style="color: white"><center>Nachricht an Gäste senden</center></center></h3>
        <div class="row" style="padding-top: 20px">
            <form action="/dashboard" method="POST" id="postMessage">
                <div class="col-xs-12" style="padding: 40px">
                    <div class="form-group">
                        <input type="text"  name="nachrichtSenden" id="nachrichtSenden" class="form-control" required>
                    </div>
                </div>
                    <div class="col-xs-12">
                        <div class="form-group">
                            <button style=" background-color: white; color: #0a7a74 " type="submit" class="btn btn-send">JETZT SENDEN</button> <!--Title for button is same as that of the page-->
                        </div>
                    </div>
            </form>
        </div>
    </div>

    <div class="col-md-4" style="background-color: #f3efe4; padding-top: 20px; "><h3><center>Abgemeldete Gäste</center></h3>
        <div class="row" style="padding-top: 20px">
            <div class="col-md-6" style="float: left">
                <% for (var m = 0; m < guests.length; m++) { %>
                    <% if (guests[m].signed_up === false) { %>
                    <img src="<%= guests[m].profile_pic %>" style=" width: 60px; height: 60px; position: relative; border-radius: 50%; margin: 5px; margin-left: 70%">
                    <br>
                    <%  } %>
                <%  } %>
            </div>
            <div class="col-md-6" style="float: right">
                <% for (var n = 0; n < guests.length; n++) { %>
                    <% if (guests[n].signed_up === false) { %>
                        <%= guests[n].senderId + " " + guests[n].first_name + " " + " " + guests[n].last_name + " " + guests[n].locale + " " + guests[n].gender + " " + guests[n].signed_up_at %>
                        <br>
                        <br>
                        <br>
                    <%  } %>
                <%  } %>
            </div>
        </div>
    </div>
</div>


<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</body>
</html>