<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <meta name="viewport" content="width-device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"   integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="   crossorigin="anonymous"></script>
</head>
<body>

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h1 class="text-center"><%= title %></h1>
            <h5><%= titleSummaryDoppelzimmerClassicSteinleo %> </h5>
            <h5><%= subTitleSummaryDoppelzimmerClassicSteinleo %></h5>
        </div>
        <div id="charge-error" class="alert alert-danger <% if ( !errMsg ) { %> hidden <% } %>">
            <%= errMsg  %>
        </div>
        <div class="modal-body">

            <form action="/checkout" method="POST" id="checkout-form">
                <div class="col-xs-12">
                <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" name="name" id="name" class="form-control" required>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="address">Adresse</label>
                        <input type="text" name="address" id="address" class="form-control" required>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="card-name">Kreditkartenbesitzer</label>
                        <input type="text" name="card-name" id="card-name" class="form-control" required>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="card-number">Kreditkartennummer</label>
                        <input type="text" name="card-number" id="card-number" class="form-control" required>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label for="card-expiry-month">Ablaufdatum Monat - MM</label>
                                <input type="text" name="card-expiry-month" id="card-expiry-month" class="form-control" required>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label for="card-expiry-year">Ablaufdatum Jahr - JJJJ</label>
                                <input type="text" name="card-expiry-year" id="card-expiry-year" class="form-control" required>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="card-cvc">CVC (3 stelliger Sicherheitscode)</label>
                        <input type="text" name="card-cvc" id="card-cvc" class="form-control" required>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="form-group">
                        <button style=" float: right" type="submit" class="btn btn-success">JETZT BUCHEN</button> <!--Title for button is same as that of the page-->
                    </div>
                </div>
                <div class="modal-footer">
                </div>
            </form>
        </div>
    </div>
</div>


<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script>
    Stripe.setPublishableKey('pk_test_Tu42rf3j1x3PI1ZR5pLickf3');

    var $form = $('#checkout-form');

    $form.submit(function(event){
        $('#charge-error').addClass('hidden');
        $form.find('button').prop('disabled', true);
        Stripe.card.createToken({
            number: $('#card-number').val(),
            cvc: $('#card-cvc').val(),
            exp_month: $('#card-expiry-month').val(),
            exp_year: $('#card-expiry-year').val(),
            name: $('#card-name').val()
        }, stripeResponseHandler);
        return false;
    });

    function stripeResponseHandler(status, response) {
        if (response.error) { // Problem!
            // Show the errors on the form
            $('#charge-error').text(response.error.message);
            $('#charge-error').removeClass('hidden');
            $form.find('button').prop('disabled', false); // Re-enable submission
            console.log("Token nont even created");
        } else { // Token was created!
            // Get the token ID:
            var token = response.id;
            // Insert the token into the form so it gets submitted to the server:
            $form.append($('<input type="hidden" name="stripeToken" />').val(token));
            // Submit the form:
            $form.get(0).submit();
        }
    }
</script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</body>
</html>